@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" asp-page="/instructor/index">Instructor</a>
                </li>
                <li>
                    <a class="dropdown-item" asp-page="/auth/settings">Settings</a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" asp-page="/auth/signin" asp-page-handler="signout">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ms-auto">


        <li class="nav-item">
            <a class="nav-link" asp-page="/Auth/SignIn">SignIn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Auth/SignUp">SignUp</a>
        </li>
    </ul>
}