@page "/Auth/SignUp"
@model SignUpModel
@{
}
<div class="row">

    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Sign Up</h2>
        <form method="post">
            <div class="mb-3">
                <label asp-for="SignUpViewModel.UserName" class="form-label"></label>
                <input asp-for="SignUpViewModel.UserName" class="form-control"/>
                <div class="text-danger">
                    <span asp-validation-for="SignUpViewModel.UserName"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="SignUpViewModel.Email" class="form-label"></label>
                <input asp-for="SignUpViewModel.Email" class="form-control"/>
                <div class="text-danger">
                    <span asp-validation-for="SignUpViewModel.Email"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="SignUpViewModel.Password" class="form-label"></label>
                <input asp-for="SignUpViewModel.Password" type="password" class="form-control"/>
                <div class="text-danger">
                    <span asp-validation-for="SignUpViewModel.Password"></span>
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="SignUpViewModel.PasswordConfirm" class="form-label"></label>
                <input asp-for="SignUpViewModel.PasswordConfirm" type="password" class="form-control"/>
                <div class="text-danger">
                    <span asp-validation-for="SignUpViewModel.PasswordConfirm"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>

    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}