@page
@model UdemyMicroservices.Web.Pages.Order.HistoryModel
@{
}


<div class="container mt-5">
    <h2 class="mb-4">Order History</h2>
    
    
    @if (!Model.OrderHistoryList.Any())
    {
        <p class="text-muted">No orders found.</p>
        return;
    }
    
    

   
        <div class="accordion" id="orderHistoryAccordion">
            @foreach (var order in Model.OrderHistoryList)
            {
                var accordionId = $"accordion-{Guid.NewGuid()}";
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@accordionId">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@accordionId" aria-expanded="false" aria-controls="collapse-@accordionId">
                            Order Date: @order.DateTime | Total Price: $@order.TotalPrice
                        </button>
                    </h2>
                    <div id="collapse-@accordionId" class="accordion-collapse collapse" aria-labelledby="heading-@accordionId" data-bs-parent="#orderHistoryAccordion">
                        <div class="accordion-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Course Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in order.GetItems)
                                    {
                                        <tr>
                                            <td>@item.ProductName</td>
                                            <td>$@item.UnitPrice</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </div>
    
</div>
