@page
@model ResultModel
@{
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title text-success">
                        <i class="fa-solid fa-check-circle"></i> Payment Successful!
                    </h2>
                    <p class="card-text mt-3">
                        <i class="fa-solid fa-thumbs-up"></i> Your payment has been successfully completed. You can start watching the course using the link below.
                    </p>
                    <a href="#" class="btn btn-primary mt-4">
                        <i class="fa-solid fa-play-circle"></i> Start Watching the Course
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>